.wrapper_detail {
    width: 100%;
    height: calc(100vh - 240px);
    overflow: scroll;
}

.btn_member {
    display: block;
    border: none;
    font-size: 16px;
    text-align: left;
    padding: 0 20px;

    background-color: transparent;
}

.edit {
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.504);
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit td {
    display: flex;
    align-items: center;
    height: auto !important;
    width: auto !important;
    max-width: 100% !important;
    padding: 0 !important;
}

.edit td form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

.edit_inputs {
    display: flex;
    flex-direction: column;
}

.edit_inputs label {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.edit_inputs label span {
    display: inline-block;
    width: 80px;
}

.edit input {
    flex: 1;
    padding: 12px;
    font-size: 16px;
}

.edit button {
    padding: 12px 24px;
    margin-right: 12px;
}

.edit button {
    border: none;
    border-radius: 4px;
}

.btn_cancel {
    color: var(--white);
    background-color: rgb(243, 87, 87);
}

.btn_cancel:hover {
    background-color: rgb(239, 68, 68);
}

.btn_submit {
    color: var(--white);
    background-color: var(--primary);
}

.btn_submit:hover {
    background-color: var(--primary-active);
}

.synthetic {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* padding: 160px; */
    background-color: rgba(0, 0, 0, 0.501);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.synthetic_close {
    position: absolute;
    top: 10vh;
    right: 10vh;
    padding: 12px;
}

.synthetic table {
    margin: 0 40px;
}

.synthetic td {
    width: auto !important;
    max-width: auto !important;
    padding: 0 !important;
    text-align: center;
}

.synthetic_sub {
    background-color: #fff;
    width: 80%;
    height: 50%;
    overflow: scroll;
}

.td_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
}